body {
    text-align: center;
    background: url("./bg.jpg") orange no-repeat fixed ;
    color: black;
}

#Allcontent{
    background-color: rgba(218, 198, 198, 0.6);
    background-attachment: fixed;
    border: thin solid transparent;
    border-radius: 20px;
    margin: auto 70px;
}

table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 50px 0px 50px 300px;
    text-align: left;
    padding: 5px;
}
table{
    width: 70%;
}

a{
    color: black;
}