body {
    text-align: center;
    background: url("./bg.jpg") orange no-repeat fixed ;
    color: black;
}

#Allcontent{
    background-color: rgba(218, 198, 198, 0.6);
    background-attachment: fixed;
    border: thin solid transparent;
    border-radius: 20px;
    margin: auto 70px;
}
a{
    color: black;
}